@import '@stylesheet/_config.scss';

.bargraph {
  width: 100%;
  border-top: 2px solid $color-gray-a;
  .wrap_li {
    display: flex;
    flex-direction: row;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 10px;
    border-bottom: 1px solid $color-gray-c;
    .name_category {
      width: 50px;
    }
    .ratio_category {
      width: 50px;
      color: $color-main;
      margin-right: 5px;
    }
    .wrap_bar {
      flex: 1;
      margin-right: 5px;
      position: relative;
      overflow: hidden;
      .bar {
        width: 30%;
        background-color: green;
        height: 100%;
        position: absolute;
        animation-duration: 2s;
        animation-name: slide;
      }
      @keyframes slide {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0%);
        }
      }
    }
  }
}

.vertical_middle {
  display: flex;
  align-items: center;
}
