$color-main: #29b6ae;
$color-second: #8fcfd1;
$color-third: #3979ff;

$color-white: #fff;
$color-black-3: #3d4043;
$color-black-6: #606367;
$color-black-9: #9a9a9a;

$color-gray-a: #aaa;
$color-gray-c: #cdcdcd;
$color-gray-e: #e8eaef;

$color-red-d: #d73a4a;

$max_width: 900px;
$min_width: 450px;

$logo-text-color: #fff;

$chart-rank: (#00bcd4, #b2ebf2, #f9f7d9, #dd2c00, #ed6663, #ffc1f3, #59405c);
