$color-main: #29b6ae;
$color-second: #8fcfd1;
$color-third: #3979ff;

$color-white: #fff;
$color-black-3: #3d4043;
$color-black-6: #606367;
$color-black-9: #9a9a9a;

$color-gray-a: #aaa;
$color-gray-c: #cdcdcd;
$color-gray-e: #e8eaef;

$max_width: 900px;

$logo-text-color: #fff;
